<!-- <div ngClass="menuInProdFab">
  <ul ngClass='go-menu-entradas-busqueda-prod-admin'>
    <a routerLinkActive="active" routerLink="">Buscar Reporte</a>
  </ul>
  <ul ngClass='go-menu-entradas-crear-reporte-prod-admin'>
    <a routerLinkActive="active" routerLink="">Crear Reporte</a>
  </ul>
  <ul ngClass='go-menu-entradas-crear-nota-prod-admin'>
    <a routerLinkActive="active" routerLink="">Crear Nota</a>
  </ul>
  <ul ngClass='go-main-menu-prod-admin-btn'>
    <a routerLinkActive="active" routerLink='/factory-prod'>Menu Produccion</a>
  </ul>
</div> -->