<div ngClass="crearReporteProdAdmin">
  <form ngClass="cheese-categories-form">
    <div ngClass="crear-reporte-queso-marco">
      <img ngClass="cheese-piece-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShezzrcP_kQ2aqlw0AgJqSi2UWDekCbm3JNQ&usqp=CAU" alt="Imagen de Pieza de Queso" width="200" height="200">
      <h3 ngClass="crear-reporte-queso-texto">Tipo de Queso: {{filteredRecords.cheeseName}}</h3>
      <select ngClass="cheese-categorie-" [value]=selectedCategory (change)="getSelectedCategory($event)">
        <option 
          ngClass="option-choice-style"
          *ngFor="let category of cheeseCategory" 
          [value]="category.Value" [selected]="category.Name"
        >
            {{category.Name}}
        </option>
      </select>
      <h3 ngClass="crear-reporte-queso-texto">Refrigeracion: {{filteredRecords.refrigerationType}}</h3>
      <select ngClass="cheese-categorie-" [value]=selectedRefrigeration (change)="getSelectedRefrigeration($event)">
        <option 
          ngClass="option-choice-style"
          [value]=selectedRefrigeration
          *ngFor="let refrigeration of refrigerationCategory" 
        >
            {{refrigeration.Name}}
        </option>
      </select>
      <h3 ngClass="crear-reporte-queso-texto">Fecha Entrada:</h3>
      <h3>Cambiar: <input type="date" [value]=selectedDate ngClass="crear-reporte-queso-date" (change)="getSelectedDate($event)"></h3>
      <h4>Entrada Aprobada:</h4>
      <select ngClass="cheese-categorie-" (change)="getSelectedStatus($event)">
        <option 
          ngClass="option-choice-style"
          *ngFor="let status of cheeseStatus" 
          [value]=selectedStatus
        >
            {{status.Name}}
        </option>
      </select>
      <h4>No Piezas: <input type="number"  [value]=selectedPiecesNo ngClass="crear-reporte-queso-num" (change)="getSelectedPiecesNo($event)" ></h4>
      <!-- <h4>No Olladas: <input type="number" ngClass="crear-reporte-queso-num" onChange={(event) => setSelectedOlladas(event.target.value)} value={selectedOlladas}></input></h4> -->
      <h4>No Olladas: <input type="number"  [value]=selectedPotsNo ngClass="crear-reporte-queso-num" (change)="getSelectedPotsNo($event)" ></h4>
      <!-- <h4>No Lote: <input type="text" ngClass="crear-reporte-queso-num" onChange={(event) => setNumLote(event.target.value)} value={numLote}></input></h4> -->
      <h4>No Lote: <input type="number"  [value]=selectedLoteNo ngClass="crear-reporte-queso-num" (change)="getSelectedLoteNo($event)" ></h4>
      <!-- <h4>Precio: $<input type="number" ngClass="crear-reporte-queso-num" onChange={(event) => setSelectedPrice(event.target.value)} value={selectedPrice}></input></h4> -->
      <h4>Precio: $<input type="number"  [value]=selectedPrice ngClass="crear-reporte-queso-num" (change)="getSelectedPrice($event)" ></h4>
      <br>
      <!-- <button ngClass='read-prod-records-btn' disabled={isDisable} onClick={updateRecord}>{!isDisable? 'Editar Reporte' : 'Reporte Editado!'}</button> -->
      <!-- <button ngClass='read-prod-records-btn' disabled={isDisable} onClick={deleteRecord}>{!isDisable? 'Eliminar Reporte' : 'Reporte Eliminado!'}</button> -->
    </div>
  </form>
  <button ngClass='go-back-menu-all-reports-prod-admin' (click)="sendViewStatus()">Regresar</button>
</div>