<div ngClass="fabrica">
  <!-- <NavLink to="/go-fad-sign-admin-in"> -->
    <p ngClass='go-fad-admin-sign-in'>Usuario: Administacion</p>  
  <!-- </NavLink>  -->
  <!-- <NavLink to="/go-prod-sign-admin-in"> -->
    <p ngClass='go-fad-prod-sign-in'>Usuario: Produccion</p>
  <!-- </NavLink> -->
  <!-- <NavLink to="/go-prod-sign-dir-in"> -->
    <p ngClass='go-fad-prod-sign-in'>Usuario: Directivo</p>
  <!-- </NavLink> -->
  <!-- <NavLink to="/"> -->
    <p ngClass='go-back-fad-dis-menu'>Menu Inicial</p>
  <!-- </NavLink> -->
</div>