<div ngClass="fabrica">
  <ul>
    <li ngClass='go-fad-admin-sign-in'>
      <a routerLink=''>Usuario: Administacion</a>  
    </li>
    <li ngClass='go-fad-prod-sign-in'>
      <a routerLink=''>Usuario: Produccion</a>  
    </li>
    <li ngClass='go-fad-prod-sign-in'>
      <a routerLink=''>Usuario: Directivo</a>  
    </li>
    <li ngClass='go-back-fad-dis-menu'>
      <a routerLink='/production-vs-factory'>Usuario: Directivo</a>  
    </li>
      <!-- <a ngClass='go-fad-prod-sign-in'>Usuario: Produccion</a>
      <a ngClass='go-fad-prod-sign-in'>Usuario: Directivo</a>
      <a ngClass='go-back-fad-dis-menu'>Menu Inicial<a> -->
  </ul>
</div>