/* * {
	padding: 0;
	margin: 0;
} */

/* body {
	text-align: center;
  background: linear-gradient(228deg, #180403fe,#210117,#0e2239,#095571);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;

  min-width: 100%;
	height: 100vh;
  width: 100%;
  float:right;
  display: block;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */