<div ngClass="adminSignIn">
  <div ngClass="login-form-container">
    <div ngClass="login-form">
      <p ngClass="login-header">Registro</p>
      <div ngClass="group">
        <input type="text" ngClass="login-input"><span ngClass="bar"></span>
        <label ngClass="login-label"><i ngClass="far fa-user"></i>Usuario</label>
      </div>
      <div ngClass="group">
        <input type="password" ngClass="login-input"><span ngClass="bar"></span>
        <label ngClass="login-label"><i ngClass="fas fa-key"></i>Contraseña</label>
      </div>
        <a ngClass="login-button" routerLinkActive="active" routerLink="/factory-menu">Inciar Sesión</a>
      <p ngClass="warnings"></p>
    </div>
  </div>
</div>
