<div class="adminSignIn">
  <div class="login-form-container">
    <div class="login-form">
      <p class="login-header">Registro</p>
      <div class="group">
        <input type="text" class="login-input"><span class="bar"></span>
        <label class="login-label"><i class="far fa-user"></i>Usuario</label>
      </div>
      <div class="group">
        <input type="password" class="login-input"><span class="bar"></span>
        <label class="login-label"><i class="fas fa-key"></i>Contraseña</label>
      </div>
      <!-- <NavLink to="/go-main-menu-fab-admin"> -->
        <p class="login-button">Inciar Sesión</p>
      <!-- </NavLink>  -->
      <p class="warnings"></p>
    </div>
  </div>
</div>