<div class="adminSignIn">
  <div class="login-form-container">
    <div class="login-form">
      <p class="login-header">Registro</p>
      <div class="group">
        <input type="text" class="login-input"><span class="bar"></span>
        <label class="login-label"><i class="far fa-user"></i>Usuario</label>
      </div>
      <div class="group">
        <input type="password" class="login-input"><span class="bar"></span>
        <label class="login-label"><i class="fas fa-key"></i>Contraseña</label>
      </div>
        <a class="login-button" routerLinkActive="active" routerLink="/factory-admin">Inciar Sesión</a>
      <p class="warnings"></p>
    </div>
  </div>
</div>
