<div ngClass="ProduccionFabAdmin">
  <div ngClass='cheese-invetory-container-header'>
    <h2 ngClass="inventario-fab-text">
      Inventario Fabrica
    </h2>
    <br>
    <h2 ngClass="inventario-fab-text">
    <!-- {todaysDate} -->
    </h2>
  </div>
  <div ngClass='cheese-invetory-container'>
    <div ngClass="cheese-invenroty-card">
      <img ngClass="cheese-piece-img" src="{{cheeseUrl}}" width="100" height="100">
      <!-- <img ngClass="cheese-piece-img" src={'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShezzrcP_kQ2aqlw0AgJqSi2UWDekCbm3JNQ&usqp=CAU'} alt={'Imagen de Pieza de Queso'} width="100" height="100"></img> -->
      <p ngClass="cheese-invenroty-card-name">Baraloso</p>
      <p ngClass="cheese-invenroty-card-nopieces-text">No Piezas:</p>
      <!-- <p ngClass="cheese-invenroty-card-nopieces-num">{baralosoStorage}</p> -->
    </div>
    <div ngClass="cheese-invenroty-card">
      <img ngClass="cheese-piece-img" src="{{cheeseUrl}}" width="100" height="100">
      <!-- <img ngClass="cheese-piece-img" src={'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShezzrcP_kQ2aqlw0AgJqSi2UWDekCbm3JNQ&usqp=CAU'} alt={'Imagen de Pieza de Queso'} width="100" height="100"></img> -->
      <p ngClass="cheese-invenroty-card-name">Comiteco</p>
      <p ngClass="cheese-invenroty-card-nopieces-text">No Piezas:</p>
      <!-- <p ngClass="cheese-invenroty-card-nopieces-num">{comitecoStorage}</p> -->
    </div>
    <div ngClass="cheese-invenroty-card">
      <img ngClass="cheese-piece-img" src="{{cheeseUrl}}" width="100" height="100">
      <!-- <img ngClass="cheese-piece-img" src={'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShezzrcP_kQ2aqlw0AgJqSi2UWDekCbm3JNQ&usqp=CAU'} alt={'Imagen de Pieza de Queso'} width="100" height="100"></img> -->
      <p ngClass="cheese-invenroty-card-name">Comiteco AA</p>
      <p ngClass="cheese-invenroty-card-nopieces-text">No Piezas:</p>
      <!-- <p ngClass="cheese-invenroty-card-nopieces-num">{comitecoAaStorage}</p> -->
    </div>
    <div ngClass="cheese-invenroty-card">
      <img ngClass="cheese-piece-img" src="{{cheeseUrl}}" width="100" height="100">
      <!-- <img ngClass="cheese-piece-img" src={'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShezzrcP_kQ2aqlw0AgJqSi2UWDekCbm3JNQ&usqp=CAU'} alt={'Imagen de Pieza de Queso'} width="100" height="100"></img> -->
      <p ngClass="cheese-invenroty-card-name">Comiteco BA</p>
      <p ngClass="cheese-invenroty-card-nopieces-text">No Piezas:</p>
      <!-- <p ngClass="cheese-invenroty-card-nopieces-num">{comitecoBaStorage}</p> -->
    </div>
  </div>
  <div ngClass = 'menu-text-styling'>
    <ul ngClass='go-menu-salidas-prod-admin'>
      <a routerLinkActive="agctive" routerLink="/factory-prod-outputs-menu">Salida De Queso</a>
    </ul>
    <ul ngClass='go-back-fad-singin-menu'>
      <a routerLinkActive="active" routerLink="/factory-menu">Menu Administracion</a>
    </ul>
    <ul ngClass='go-menu-entradas-prod-admin'>
      <a routerLinkActive="active" routerLink="/factory-prod-inputs-menu">Entrada De Queso</a>
    </ul>
  </div>
</div>