body {
	text-align: center;
  background: linear-gradient(228deg, #180403fe,#210117,#0e2239,#095571);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
  margin: 0;
	/* height: 100vh; */
  /* min-width: 100%; */
  /* width: 100%; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}